.Main
  .GroupInfo
    .Wrapper
      .GroupBox
        %p.GroupBox__groupname test
        %ul.Members
          %li.Members__member_p Member&nbsp;:
          %li.Members__member &nbsp;masa
      .EditForm
        = link_to "Edit", "#", { class: "EditForm_group" }
  .Chat-Display
    .ChatLists
      .ChatList
        .ChatInfo
          .ChatInfo_name masa
          .ChatInfo_date 2019/11/20(Wed) 17:43
        %p.ChatList_message おはよう！
      .ChatList
        %ul.ChatInfo
          %li.ChatInfo_name masa
          %li.ChatInfo_date 2019/11/20(Wed) 17:43
        %p.ChatList_message おはよう！
  .FormField
    .FormBox
      .Text-Image
        %input.Text-Image_text{placeholder: "type a text"}
        %label{class: "Text-Image_image"}
          = icon('far', 'images')
          %input{type: "file"}
      %input.FormBox_submit{ type: "submit", value: "Send"}