.Side
  .Header
    .UserBox
      %p.UserBox__username masa
      %ul.EditBox
        %li
          = link_to "", {class: "EditBox__newgroup"} do
            = icon('fas', 'edit')
        %li
          = link_to "", {class: "EditBox__settings"} do
            = icon('fas', 'cog')
  .Group-list
    .ListBox
      %p.ListBox__groupname techcamp
      %p.ListBox__message まだメッセージはありません
    .ListBox
      %p.ListBox__groupname techcamp
      %p.ListBox__message まだメッセージはありません